body {
    background-color: black;
    background-image: url('DeltarunePOSTERfonte.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.caixa-transparente {
  background: rgba(255, 255, 255, 0.7); /* branco com 70% opacidade */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 40px auto;
}